<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.secure_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Bridge">

        <activity
            android:name=".SQLInjectionActivity"
            android:parentActivityName=".ClientSideInjectionActivity"/>
        <activity
            android:name=".Splash_Activity"
            android:parentActivityName=".InsecureDataStorageActivity" />
        <activity
            android:name=".EnterSQLCipherDBPasswordActivity"
            android:parentActivityName=".InsecureDataStorageActivity" />
        <activity
            android:name=".OpenSQLCipherDatabase_Activity"
            android:parentActivityName=".InsecureDataStorageActivity" />
        <activity
            android:name=".HinweiseDatenschutzActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".ProtectedAPI_Activity"
            android:parentActivityName=".MainMenu_Activity"/>
        <activity
            android:name=".HowToStart_Activity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".InsecureCommunication_Test_HTTPS_Activity"
            android:parentActivityName=".InsecureCommunicationActivity" />
        <activity
            android:name=".WeiterfuehrendeLinksActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".ClientSideInjectionActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".CreateSQLCipherDBPasswordActivity"
            android:parentActivityName=".InsecureDataStorageActivity" />
        <activity
            android:name=".EncryptedSharedPreferencesTestActivity"
            android:parentActivityName=".InsecureDataStorageActivity" />
        <activity
            android:name=".InsecureCommunicationActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".InsecureDataStorageActivity"
            android:parentActivityName=".MainMenu_Activity" />
        <activity
            android:name=".MainMenu_Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>