<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secure_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Bridge">
        <activity android:name=".Open_SQLcipher_database"></activity>
        <activity
            android:name=".Hinweise_Datenschutz"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".ProtectedAPI"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SQLi_Injection"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".HowToStart"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".insecure_communication_test_https"
            android:parentActivityName=".insecure_communication" />
        <activity
            android:name=".Weiterfuehrende_Links"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".Danksagungen"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".client_side_injection"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".SQLcipher_database"
            android:parentActivityName=".insecure_data_storage" />
        <activity
            android:name=".SharedPrefsTest"
            android:parentActivityName=".insecure_data_storage" />
        <activity
            android:name=".insecure_communication"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".insecure_data_storage"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MainMenu"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>